<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PayrollSystem.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-HP;Initial Catalog=PayrollSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
		<!--<add name="PayrollSystem.Properties.Settings.ConnectionString"
					connectionString="Data Source=DESKTOP-RUUORTA\SQLEXPRESS;Initial Catalog=PayrollSystem;Integrated Security=True"
					providerName="System.Data.SqlClient" />-->
		
		<!--<add name="PayrollSystem.Properties.Settings.ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=PayrollSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>